body{
	margin:0;
	padding:0;
}
.yincang{
	width:60%;
	height:0px;
	background-color:#fff;
	display: inline-flex;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 1;
	font-family: 'DM Sans', sans-serif;
	font-style:1.5em;
}
.yincang img{
	padding:4px;
	width:21%;
	margin-left:16%;
}
.tianj{
	height:48px;
	box-shadow:-6px 4px 10px #f5f5f5;
}
.head-box{
	overflow:hidden;
}
.banner{
	float:left;
	width:50%;
}
.head-right{
	float:right;
	width:40%;

}
.nav{
	width:80%;
}
.nav a{
	font-family:'DM Sans', sans-serif;
	font-size:1em;
	height:3em;
	line-height:1em;
	color:#323232;
	/*margin-left:8%;
	margin-right:8%;*/
	list-style-type:none;
	text-decoration:none;
	font-weight:500;
}
/*.nav li{
	display:inline-block;
	width:20%;
}*/
.content{
	margin-top:5vh;
	margin-left:10vh;
}
.content p{
	font-size:1em;
	color:#999999;
	margin-top:-5px;
	font-family:MicroSoft YaHei,"Times New Roman",Times,serif,Arial,Helvetica,sans-serif,"Source Sans Pro","Courier New",FontAwesome;
}
.content button{
	font-size:1em;
	color:#ffffff;
	background-color:#88389f;
	padding:0 5%;
	margin-top: 20px;
	height:2.6em;
	line-height: 2.6em;
	font-family:MicroSoft YaHei,Arial,Helvetica,sans-serif,"Source Sans Pro","Courier New",FontAwesome;
	border-radius:1.3em;
	border:none;
	cursor:pointer;
}
.power{
	overflow:hidden;
	width:100%;
	margin-top:5%;
	text-align: center;
}
.text{
	float:left;
	margin-left:15%;
	width:70%;
}
.text p{
	color:#999;
	line-height: 2em;
	font-family:MicroSoft YaHei,"Times New Roman",Times,serif,Arial,Helvetica,sans-serif,"Source Sans Pro","Courier New",FontAwesome;
}
.box-one img{
	margin-top:2vh;

}
.pic{
	float:right;
	display: block;
	width:30%;
	margin-top:5%;
	margin-right:5%
}
.cando{
	width:70%;
	margin-left:15%;
	text-align:center;
	margin-top:10vh;
	margin-bottom:15vh;
}
.cando p{
	color:#999;
	line-height: 2em;
	padding-left:20%;
	padding-right:20%;
	margin-bottom:5vh;
	font-family:MicroSoft YaHei,"Times New Roman",Times,serif,Arial,Helvetica,sans-serif,"Source Sans Pro","Courier New",FontAwesome;
}
.work{
	width:100%;
	text-align: center;
	background-color:#f7f7f7;
	padding-top:5vh;
	margin-bottom:5vh;
}
.work p{
	width:60%;
	margin-left:20%;
	margin-bottom:8vh;
}
.cjbox{
	width:80%;
	margin-left:10%;
	text-align: center;
}
.cjbox p{
	color:#999;
}
.cj{
	width:6%;
	text-align: center;
	display: inline-block;
	margin-left:10%;
	margin-right:8%;
}
.cj h3{
	font-size:2.5em;
}
/*.case{
	overflow: hidden;
	position:absolute;
	width:100%;
	padding-top:10vh;
}
.case *{
	float: left;
	cursor: pointer;
  transition: all 0.6s;
}
.case img:hover{
	transform: scale(1.2);
}*/